[Unit]
Description=TPD Service

[Service]
Type=oneshot                                                                                                                                                
RemainAfterExit=yes
ExecStart=insmod /lib/modules/5.4.35-yocto-standard-gaffa9bcf1-dirty/kernel/lib/tpd.ko
ExecStartPost=chgrp gpiod /dev/tpd
ExecStartPost=chmod 660 /dev/tpd